<div class="audits">
    
      <button mat-raised-button color="accent" style="height: 45px;">Show All</button>
    
    
        <mat-form-field appearance="outline" style="margin-left: 75%;" >
            <mat-label>Filters</mat-label>
            <mat-select >
                <mat-option value="date">Date</mat-option>
                <mat-option value="demand">Demand</mat-option>
                <mat-option value="experience">Experience</mat-option>
                <mat-option value="location">Location</mat-option>
                <mat-option value="skills">Skills</mat-option>
            </mat-select>
          </mat-form-field>
 
        
    
</div>
